body,
html {
  font-family: var(--font-sans);
}

body {
  background: var(--bg);
  color: var(--fg-02);
  transition: color 0.2s ease, background 0.1s ease;
}

main {
  width: 100%;
  z-index: 1;
}

ol[class],
ul[class] {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: var(--max-width);
  padding-right: var(--margin-02);
  padding-left: var(--margin-02);
  width: 100%;
  margin: auto;
}

.-mono {
  font-family: var(--font-mono);
}

.weak {
  opacity: 0.8;
  font-weight: 300;
}

@media screen {
  .-hide-screen {
    display: none !important;
  }
}

@media (--small-screen) {
  .-hide-mobile {
    display: none !important;
  }

  h1 {
    font-size: 1.8em;
  }

  h2 {
    font-size: 1.2em;
  }
}

@media (--not-small-screen) {
  .-hide-desktop {
    display: none !important;
  }
}
