@page {
  margin: 0;
  width: 100%;
}

@media print {
  html body .rich-text img[src$=".gif"],
  html body .gallery img[src$=".gif"],
  .-hide-print {
    display: none !important;
  }

  main {
    margin: 0;
  }

  html body {
    margin: 0;
    font-size: 0.8em;
  }

  html body .rich-text > * + * {
    margin-top: var(--margin-01);
  }
}
