.home-box {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-top: var(--margin-02);
  position: relative;
}

.home-box img {
  max-width: 180px;
  margin-right: var(--margin-04);
  border-radius: 50%;
}

.home-project-grid {
  margin-top: var(--margin-04);
}

@media (--small-screen) {
  .home-box {
    flex-flow: column;
  }
  .home-box img {
    width: 100%;
    /* max-width: none; */
    margin: 0;
    margin-bottom: var(--margin-04);
  }
}
