.ligo-section:not(:last-child) {
  margin-bottom: var(--margin-04);
}

.ligo-section-header {
  padding-bottom: var(--margin-01) 0;
  text-align: right;
  margin-bottom: var(--margin-02);
  border-bottom: 2px solid var(--fg-02);
  font-family: var(--font-mono);
}
