.cv-page .box {
  margin-bottom: var(--margin-04);
}

.cv-page .disclaimer {
  background: var(--bg-alt);
  padding: var(--margin-h);
  text-align: center;
  margin: 0;
}

.cv-page .disclaimer p {
  width: 100%;
  margin: 0;
  text-align: center;
}

.cv-page .box .logo {
  height: 20px;
  width: 30px;
  margin-left: var(--margin-02);
}

@media print {
  .cv-page .box {
    margin-bottom: var(--margin-02);
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
  }
}
